body
  margin-left: 10%
  margin-right: 10%

pre
  background: #333
  color: white
  border: 1px solid black
  padding: 0.1em 0.5em

  code
    background: inherit
    border: none

code
  font-family: Monaco, monospace
  font-size: 90%
  background: #eee
  border: 1px solid #888
  padding: 0.1em 0.2em

table
  border-collapse: collapse

  th, td
    border: 1px solid black

strong
  color: #800
