$dark_green: #3e5610

body
  margin-left: 10%
  margin-right: 10%
  background: #91bc2c

a
  //color: $dark_green

pre
  background: #333
  color: white
  border: 1px solid black
  padding: 0.1em 0.5em

  code
    background: inherit
    border: none

code
  font-family: Monaco, monospace
  font-size: 90%
  background: #eee
  border: 1px solid #888
  padding: 0.1em 0.2em

table
  border-collapse: collapse

  th, td
    border: 1px solid black

strong
  color: #800

// パーツ

#container
  background: white
  padding: 1em

  h1
    a
      color: $dark_green
      text-decoration: none

  #menu
    padding: 0
    li
      width: 24%
      display: inline-block
      border-width: 2px 0 2px 2px
      border-style: solid
      border-color: $dark_green
      text-align: center

      a
        text-decoration: none

    li:last-child
      border-right: 1px solid $dark_green
